.App {
  text-align: center;
}

/* Play Screen */
.playHeader {
  text-align: center;
  color: #555555;
  font-size: 48px;
}
.playButton {
  text-align: center;
  font-size: 36px;
  text-decoration: none;
  border: solid;
  border-width: 3px;
  margin-top: 10%;
  margin-right: 15%;
  margin-left: 15%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 0.5%;
  padding-bottom: 1%;
  color: #2e3190;
}

.playButton:hover {
  text-align: center;
  font-size: 36px;
  text-decoration: none;
  border: solid;
  border-width: 2px;
  margin-right: 15%;
  margin-left: 15%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 0.5%;
  padding-bottom: 1%;
  color: #f8f9fa;
  background-color: #2e3190;
}

#playButton #playLink {
  text-decoration: none;
  padding: 1em;
}

.playPokemon {
  padding-top: 20px;
}

.welcomingP {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2.5%;
  color: #555555;
  font-weight: 500;
}

.moveMenu1 {
  /* border: solid; */
}

.moveMenu2 {
  /* border: solid; */
}
